body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}
.tagline{
  font-weight: normal;
  font-size: 2rem;
}
h1{
  margin: 50px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}
.top-container{
  padding-top: 100px ;
  background-color: #E4F9F5;
  position:relative;

}
.middle-container{
  line-height: 2;
  font-weight: bold;
  margin:50px auto;
}
.bottom-container{
  background-color: #66BFBF;
  color: #EAF6F6;
  padding: 50px;
}
.cloud1{
  position:absolute;
  right: 300px;
  top: 50px;
}
.cloud2{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
a{
  color: #11999E;
}
.profile-photo{
  height: 200px;
  width: 200px;
}
.skill-row{
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.skill-icon1{
  width: 12%;
  float: left;
  margin-right: 30px;
}
.skill-icon2{
  width: 12%;
  float: right;
  margin-left: 30px;
}
.profile{
  padding: 30px;
}
.footer-link{
  color: #11999E;
  text-decoration: none;
  padding-right: 50px;

}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
.copyright{
  padding-top: 30px;
}
.contact-me{
  padding: 50px;
}
.btn{
  text-decoration: none;
}
